.address {
  &-wrapper {
    display: flex;
    flex-direction: column;

    @media(min-width: 992px) {
      flex-direction: row;
    }

    @include interpolate("padding-bottom", 768px, 56px, 992px, 112px, "ease-in");
    padding-bottom: 0;

    .title {
      color: var(--gray);
      margin-bottom: 24px;
      font-weight: 500;
      font-size: 28px;
      line-height: 124%;

      @media(min-width: 768px) {
        max-width: 344px;
        font-size: 32px;
        line-height: 124%;
      }

    }
  }

  &-list {
    display: flex;
    flex-direction: column;

    @media(min-width: 568px) {
      flex-direction: row;
    }
  }


  &-lists {
    padding-top: 30px;

    @media(min-width: 568px) {
      padding-left: 30px;
    }

    .address-list:last-child {
      @media(min-width: 568px) {
        border-top: 1px solid var(--border-color);
        padding-top: 14px;
      }
    }

    address {
      strong {
        font-weight: 500;
      }

      padding-bottom: 14px;
      line-height: 20px;

      +address {
        @media(min-width: 568px) {
          padding-left: 30px;
        }
      }
    }
  }
}
