:root {
  --white: #fff;
  --black: #000;
  --gray: #333;
  --green: #726A3B;
  --primary-font: 'Montserrat', sans-serif;
}

body {
  font-family: var(--primary-font);
  padding-top: 56px;
  overflow-x: hidden;
}

a {

  &,
  &:hover,
  &:focus {
    border: 0;
    outline: 0;
    text-decoration: none;
  }
}

textarea {
  resize: none;
}

p {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;

  &:not(:last-child) {
    margin-bottom: 24px;
  }
}

b,
strong {
  font-weight: 500;
}

.btn-circle {
  svg {
    background: var(--green);
    color: var(--white);
    border-radius: 50%;
    padding: 20px;
    fill: currentColor;
    height: auto;
    max-width: 66vmin;
    transform-origin: center;
    width: 66%;
  }
}


.re {
  width: 100%;
  textPath {
    font-size: 39px;
    font-family: "Montserrat";
    text-transform: uppercase;
    letter-spacing: 20px;
    fill: #fff;
  }
}
