:root {
  --white: #fff;
  --black: #000;
  --gray: #333;
  --green: #726A3B;
  --border-color: rgba(0, 0, 0, .08);
  --primary-font: 'Montserrat', sans-serif;
}

$mq-breakpoints: (mobile: 320px, mobilesm: 481px, mobilemd: 641px, tablet: 768px, tabletmd: 992px, desktop: 1024px, wide: 1200px, extrawide: 1400px);

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  text-rendering: geometricPrecision;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-family: var(--primary-font);

  padding-top: 52px;

  @media(min-width: 768px) {
    padding-top: 74px;
  }

  overflow-x: hidden;

  &.no-scroll {
    overflow: hidden;
  }

}

img {
  vertical-align: middle;
  border-style: none;
  max-width: 100%;
  height: auto;
}

svg {
  overflow: hidden;
  vertical-align: middle;
}

a {

  &,
  &:hover,
  &:focus {
    border: 0;
    outline: 0;
    text-decoration: none;
  }
}

textarea {
  resize: none;
}

p {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;

  &:not(:last-child) {
    margin-bottom: 24px;
  }
}

b,
strong {
  font-weight: 500;
}

@media (min-width: 768px) {
  .page__grid {
    backface-visibility: hidden;
    bottom: 0;
    display: block;
    left: 0;
    perspective: 1000;
    pointer-events: none;
    position: fixed;
    right: 0;
    top: 0;
    z-index: -1;

    .container {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      position: relative;

      span {
        background-color: var(--border-color);
        display: block;
        height: 100vh;
        width: 1px;
      }
    }
  }
}

.circle-text,
.circle-text2,
.circle-text3 {
  z-index: 4;
  cursor: pointer;
  position: absolute;
  right: 140px;
  width: 140px;
  height: 140px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: text_rotate 10s linear infinite;

  svg {
    width: 100%;
  }
}

.circle-text {
  top: initial;
  bottom: -60px;
  z-index: 15001;

  svg {
    circle {
      fill: var(--green);
    }

    path {
      fill: var(--white);
    }
  }
}

.solution-content {
  position: relative;
}

/* browserupgrade */
.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

.hero-unit {
  z-index: 1;
}

#our-story {
  z-index: -1;
  position: relative;
}


@keyframes text_rotate {
  0% {
    transform: rotate(360deg);
  }

  100% {
    transform: rotate(0deg);
  }
}

.siteHome{
  overflow-x: hidden;
  position: relative;
  z-index: 1;
}


/*  */
.headerSite,
main,
footer {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  max-width: 1140px;
  overflow-x: hidden;
}
/*  */
