.hero-unit {
  &-content {
    margin-top: 40px;
    @media(min-width: 768px) {
    margin-top: 80px;
    }
    text-align: center;

    h1 {
      font-style: normal;
      font-weight: 500;
      text-align: center;
      color: var(--black);
      margin-left: auto;
      margin-right: auto;
      line-height: 150%;
      max-width: 492px;

      @include interpolate("font-size", 768px, 26px, 1200px, 48px, "ease-in");
      @include interpolate("margin-bottom", 768px, 28px, 1200px, 80px, "ease-in");

      @media(min-width: 768px) {
        max-width: 70%;
      }
    }

    .hero-unit-image {
      position: relative;

      img {
        display: block;
        margin: 0 auto;
        position: relative;
      }
    }
  }
}
