.header {
  &-site {
    background: var(--green);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 5;
     z-index: 10;
     color: var(--white);

     &:before {
       content: "";
       display: block;
       position: absolute;
       background: var(--green);
       top: 0;
       bottom: 0;
       left: -9999em;
       right: -9999em;
       z-index: -1;
     }

    &-wrapper {
      padding-top: 12px;
      padding-bottom: 12px;
      margin: 0 auto;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      align-items: center;
    }

    .site-menu-icon {
      display: none;

      @media(max-width: 1079.98px) {
        display: block;
        cursor: pointer;

        span {
          margin: 0 8px;
          display: block;
          width: 42px;
          height: 2px;
          background: var(--white);
          position: relative;
          transition: all .5s ease-in;

          &:first-child {
            margin-bottom: 15px;
          }
        }
      }
    }

    &-nav {
      @media(max-width: 1079.98px) {
        display: none;
        height: calc(100vh - 54px);
        flex: 0 0 100%;
        &.open.show{
          display: block;
        }
      }

      &-list {
        display: block;

        @media(min-width: 1080px) {
          display: inline-block;
        }

        &-link {
          display: block;
          padding-top: 16px;
          padding-bottom: 16px;

          @media(min-width: 1080px) {
            padding-left: 16px;
            padding-right: 16px;
          }

          font-style: normal;
          font-weight: 400;
          font-size: 14px;
          line-height: 18px;
          color: var(--white);
        }
      }
    }
  }
}

// menu icon active
.site-menu-icon.open{
  span{
    &:first-child {
      transform: translateY(10px) rotate(45deg);
    }
    &:last-child{
      transform: translateY(-8px) rotate(-44deg);
    }
  }
}
