.header {
  &-site {
    background: var(--green);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 5;

    &-wrapper {
      padding-top: 12px;
      padding-bottom: 12px;
      margin: 0 auto;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      align-items: center;
    }

    .site-menu-icon {
      display: none;

      @media(max-width: 1079.98px) {
        display: block;
        cursor: pointer;

        span {
          margin: 0 8px;
          display: block;
          width: 42px;
          height: 2px;
          background: var(--white);
          position: relative;
          transition: all .5s ease-in;

          &:first-child {
            margin-bottom: 15px;
          }
        }
      }
    }

    &-nav {
      @media(max-width: 1079.98px) {
        display: none;
        height: calc(100vh - 54px);
        flex: 0 0 100%;
      }

      &-list {
        display: block;

        @media(min-width: 1080px) {
          display: inline-block;
        }

        &-link {
          display: block;
          padding-top: 16px;
          padding-bottom: 16px;

          @media(min-width: 1080px) {
            padding-left: 8px;
            padding-right: 8px;
          }

          font-style: normal;
          font-weight: 400;
          font-size: 14px;
          line-height: 18px;
          color: var(--white);
        }
      }
    }
  }
}
