  .our-story-wrapper {
    @include interpolate("padding-top", 768px, 120px, 992px, 170px, "ease-in");
    @include interpolate("padding-bottom", 768px, 56px, 992px, 112px, "ease-in");
    display: flex;
    justify-content: space-between;
    align-items: flex-start;

    @media (min-width: 768px) {
      &:before {
        content: "";
        display: block;
        background: url('../images/our-story-illustration.png') no-repeat center;
        background-size: 70%;
        position: absolute;
        right: 30px;
        bottom: 0;
        width: 308px;
        height: 300px;

      }
    }

    .our-story-content {
      display: grid;
      grid-gap: 30px;
      grid-template-columns: 1fr;

      @media (min-width: 768px) {
        grid-template-columns: 1fr 1fr;
      }

      @media(min-width: 992px) {
        grid-template-columns: 1fr 1fr 1fr 1fr;
      }

      ul {
        li {
          font-weight: 500;
          font-size: 22px;
          line-height: 124%;
          color: var(--green);
          position: relative;

          &:not(:last-child) {
            margin-bottom: 28px;
          }

          &:before {
            content: "";
            display: inline-block;
            margin-right: 8px;
            width: 18px;
            height: 18px;
            background: url('../images/almond-svgrepo.png') no-repeat center;
            background-size: contain;
          }
        }
      }
    }


    .text-nutshell {
      font-weight: 500;

      font-size: 28px;
      line-height: normal;
      @media (min-width: 768px) {
      font-size: 30px;
      line-height: 46px;
      }
      color: var(--green);

      b {
        display: block;

        &:last-child {
          // padding-left: 20%;
        }
      }
    }
  }
