.meet-the-team {
  max-width: 656px;
  margin-left: auto;
  margin-right: auto;

  &-wrapper {
    @include interpolate("padding-top", 768px, 56px, 992px, 112px, "ease-in");
  }

  &-title {
    text-align: center;
    font-weight: 400;
    margin-bottom: 28px;
    font-size: 14px;
    line-height: normal;

    @media(min-width: 768px) {
      margin-bottom: 32px;
      font-size: 16px;
      line-height: 24px;
    }

    strong {
      display: block;
      font-weight: 500;
      font-size: 22px;
      margin-bottom: 16px;

      @media(min-width: 768px) {
        font-size: 38px;
        line-height: 46px;
      }
    }

    +p {
      text-align: center;
      border-top: 1px solid rgba(51, 51, 51, 0.3);
      border-bottom: 1px solid rgba(51, 51, 51, 0.3);
      font-size: 14px;
      padding-top: 18px;
      padding-bottom: 18px;
      margin-bottom: 28px;

      @media(min-width: 768px) {
        font-size: 16px;
        margin: 0 auto 48px;
        max-width: 734px;
      }
    }
  }

  &-grid {
    margin: 0 auto;
    max-width: 656px;
    display: grid;
    grid-template-columns: 1fr;

    @media(min-width: 768px) {
      max-width: initial;
      gap: 30px;
      grid-template-columns: 1fr 1fr;
    }

    @media(min-width: 992px) {
      grid-template-columns: 1fr 1fr 1fr;
    }

    @media(min-width: 1200px) {
      grid-template-columns: 1fr 1fr;
    }
  }

  &-card {
    position: relative;

    @media(min-width: 1200px) {
      display: flex;
    }

    .team-card {

      &-image {
        margin-bottom: 16px;

        @media(min-width: 1200px) {
          margin-bottom: 0;

          img {
            max-width: initial;
          }
        }
      }

      &-content {
        @media(min-width: 1200px) {
          position: relative;

          &::before {
            content: "";
            display: block;
            background-color: rgba(51, 51, 51, 0.3);
            position: absolute;
          }
        }

        &-title {
          color: var(--gray);
          font-weight: 400;
          font-size: 16px;
          line-height: 24px;

          strong {
            padding-bottom: 8px;
            display: block;
            font-weight: 500;
            font-size: 28px;
            line-height: 80%;
          }
        }

        &-about {
          color: var(--gray);
          font-weight: 400;
          font-size: 14px;
          line-height: 24px;
          padding-top: 16px;
          margin-bottom: 32px;

          @media(min-width: 992px) {
            text-align: justify;
            font-size: 14px;
            padding-top: 16px;
            // margin-top: 16px;
            margin-bottom: 0px;
          }
        }

      }

    }

    &:nth-child(1) {
      @media(min-width: 1200px) {
        margin-top: 120px;
        flex-direction: row-reverse;

        .team-card-content {
          width: 326px;
          padding-right: 15px;

          &::before {
            width: calc(326px + 20px);
            height: 2px;
            top: 62px;
          }
        }
      }
    }

    &:nth-child(2) {
      @media(min-width: 1200px) {
        flex-direction: column;

        .team-card-content {
          width: 380px;
          padding-left: 16px;
          padding-top: 16px;

          &::before {
            width: 2px;
            height: calc(300px + 0px);
            bottom: 62px;
            left: 8px;
          }

          &-about {
            margin-top: 0;
          }
        }
      }
    }

    &:nth-child(3) {
      @media(min-width: 1200px) {
        flex-direction: row-reverse;
        grid-column-start: span 2;
        justify-content: center;
        align-items: center;
       margin-top: -112px;
       margin-left: -420px;

        .team-card-content {
          width: 360px;
          padding-right: 15px;

          &::before {
            width: calc(360px + 20px);
            height: 2px;
            top: 62px;
          }
        }
      }
    }
  }
}
